<div class="col-md-11 col-lg-11 col-xs-10">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#serbski" data-toggle="tab">Srpski</a></li>
        <li><a href="#polski" data-toggle="tab">Polski</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="serbski">
            <hr />
            <ng:include src="'view/serbian-body'"></ng:include>
        </div>
        <div class="tab-pane" id="polski">
            <hr />
            <ng:include src="'view/polish-body'"></ng:include>
        </div>
    </div>
</div>
<div class="col-md-1 col-lg-1 col-xs-2">
    <ng:include src="'view/lettersAffix'"></ng:include>
</div>