<div class="affix" data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group-vertical letters" >
            <button class="btn btn-default" type="button">č</button>
            <button class="btn btn-default" type="button">ć</button>
            <button class="btn btn-default" type="button">đ</button>
            <button class="btn btn-default" type="button">š</button>
            <button class="btn btn-default" type="button">ž</button>
        </div>
    </div>
<div>