<div class="well"  ng-controller="PolishSearchController as controller">
    <form role="form">
        <div class="form-group">
            <input autocomplete="off" type="text" ng-model="polish_text" class="form-control" id="polish-translate" placeholder="Wpisz słowo...">
        </div>
        <div ng-hide="!polish_hints.length" class="hints">
            <ul>
                <li ng-repeat="hint in polish_hints track by hint.id">
                    <div ng-click="changePolish(hint.word)" class="word">{{hint.word}}</div>
                </li>
            </ul>
        </div>
        <button ng-click="translatePolish()" type="submit" class="btn btn-default">Tłumacz</button>
        <button ng-if="polish_results.length " ng-hide="controller.add" ng-click="controller.add = true" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </form>
    <div ng-hide="!polish_results.length" class="results">
        <hr ng-hide="!controller.add" />
        <div ng-hide="!controller.add" class="btn-toolbar edit-word"  role="toolbar">
            <div class="btn-group">
                <button ng-click="controller.addElement()" class="btn btn-success btn-sm" type="button">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                <button ng-click="controller.add = false ; controller.element = '' " class="btn btn-info btn-sm" type="button">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
        <div ng-hide="!controller.add">
            <input ng-hide="!controller.add" type="text" ng-model="controller.element">
        </div>
        <hr />
        <ul>
            <li ng-repeat="result in polish_results track by result.id">
                <blockquote ng-if="result.active">
                    <div ng-if="result.added" class="btn-toolbar edit-word" role="toolbar">
                        <div class="btn-group">
                            <button ng-if="!result.edit" ng-click="result.edit = true" class="btn btn-info btn-sm"
                                    type="button">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button ng-if="!result.edit" ng-click="controller.remove(result.id)" class="btn btn-danger btn-sm"
                                    type="button">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                            <button ng-if="result.edit" ng-click="controller.save(result)" class="btn btn-success btn-sm"
                                    type="button">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button ng-if="result.edit" ng-click="result.edit = false" class="btn btn-info btn-sm"
                                    type="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                    <p ng-hide="result.edit" class="text-info">{{result.word}}</p>
                    <input ng-hide="!result.edit" type="text" ng-model="result.word">
                </blockquote>
            </li>
        </ul>
    </div>
</div>