<div class="well" ng-controller="PolishSearchController">
    <form role="form">
        <div class="form-group">
            <input autocomplete="off" type="text" ng-model="polish_text" class="form-control" id="polish-translate" placeholder="Wpisz słowo...">
        </div>
        <div ng-hide="!polish_hints.length" class="hints">
            <ul>
                <li ng-repeat="hint in polish_hints track by hint.id">
                    <div ng-click="changePolish(hint.word)" class="word">{{hint.word}}</div>
                </li>
            </ul>
        </div>
        <button type="submit" class="btn btn-default">Tłumacz</button>
    </form>
</div>