<div class="well" ng-controller="PolishSearchController">
    <form role="form">
        <div class="form-group">
            <input autocomplete="off" type="text" ng-model="polish_text" class="form-control" id="polish-translate" placeholder="Wpisz słowo...">
        </div>
        <div ng-hide="!polish_hints.length" class="hints">
            <ul>
                <li ng-repeat="hint in polish_hints track by hint.id">
                    <div ng-click="changePolish(hint.word)" class="word">{{hint.word}}</div>
                </li>
            </ul>
        </div>
        <button ng-click="translatePolish()" type="submit" class="btn btn-default">Tłumacz</button>
    </form>
    <div ng-hide="!polish_results.length" class="results">
        <hr />
        <ul>
            <li ng-repeat="result in polish_results track by result.id">
                <blockquote>
                    <p class="text-info">{{result.word}}</p>
                </blockquote>
            </li>
        </ul>
    </div>
</div>