<div class="well"  ng-controller="SerbianSearchController">
    <form role="form">
        <div class="form-group">
            <input autocomplete="off" type="text" ng-model="serbian_text" class="form-control" id="serbian-translate" placeholder="Upiši reč...">
        </div>
        <div ng-hide="!serbian_hints.length" class="hints">
            <ul>
                <li ng-repeat="hint in serbian_hints track by hint.id">
                    <div ng-click="changeSerbian(hint.word)" class="word">{{hint.word}}</div>
                </li>
            </ul>
        </div>
        <button ng-click="translateSerbian()" type="submit" class="btn btn-default">Prevodi</button>
    </form>
    <div ng-hide="!serbian_results.length" class="results">
        <hr />
        <ul>
            <li ng-repeat="result in serbian_results track by result.id">
                <blockquote>
                <p class="text-info">{{result.word}}</p>
                </blockquote>
            </li>
        </ul>
    </div>
</div>