<div ng-controller="SerbianSortController as controller">
    <ul class="pagination">
        <li ng-class="controller.getClass(10)" ng-click="controller.changeGridSize(10)"><span class="link">10</span></li>
        <li ng-class="controller.getClass(15)" ng-click="controller.changeGridSize(15)"><span class="link">15</span></li>
        <li ng-class="controller.getClass(50)" ng-click="controller.changeGridSize(50)"><span class="link">50</span></li>
    </ul>
    <div class="well">
        <input ng-model="serbian_sort" value="" type="text" placeholder="Upiši reč...">
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Reč</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in serbian_search.results track by result.id">
            <td ng-if="result.active">
                <span class="link">
                    <div ng-click="controller.translateWord(result)" ng-if="!result.edit">
                        {{result.word}}
                    </div>
                    <div ng-if="result.edit === true">
                        <input type="text" ng-model="result.word">
                    </div>
                </span>
            </td>
            <td ng-if="result.active">
                <div ng-if="result.added">
                    <div class="btn-toolbar" role="toolbar">
                        <div ng-if="!result.edit"  class="btn-group" >
                            <button ng-click="result.edit = true" class="btn btn-info btn-sm" type="button">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                            <button ng-click="controller.remove(result.id)" class="btn btn-danger btn-sm" type="button">
                                <span class="glyphicon glyphicon-remove-sign"></span>
                            </button>
                        </div>
                        <div ng-if="result.edit === true">
                            <button ng-click="controller.save(result)" class="btn btn-success btn-sm" type="button">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button>
                            <button ng-click="result.edit = false" class="btn btn-info btn-sm" type="button">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <ul class="pager">
        <li ng-hide="serbian_search.page == 0" ng-click="controller.prevPage()"><span class="link"> << </span></li>
        <li ng-if="serbian_search.pages > 0"> {{serbian_search.page + 1}} / {{serbian_search.pages - 1}}</li>
        <li ng-if="serbian_search.pages > 0" ng-hide="serbian_search.page == serbian_search.pages - 1" ng-click="controller.nextPage()"><span class="link"> >> </span>
        </li>
    </ul>
</div>