@*@@author loki*@
@(elements: helper.FieldElements)
<div class="form-group @elements.args.getOrElse('_class, "") @if(elements.hasErrors) {has-error}">
	@if(elements.args.getOrElse('_showLabel, true) == true) {
		<label class="sr-only" for="@elements.id">
		@elements.label
			@for((cont,arr) <- elements.field.constraints){
				@if(cont == play.api.data.validation.Constraints.nonEmpty.name.get){
					<span class="text-error">*</span>
				}
			}
		</label>
	}
	@elements.input

	@if(!elements.errors.isEmpty) {
		<span class="help-block sr-only">@elements.errors.mkString(", ")</span>
	}

	@if(!elements.infos.isEmpty) {
		<span class="help-block sr-only">@elements.infos.mkString(", ")</span>
	}
</div>