@(title: String)(content: Html)
    @minified = @{
        if(play.Play.isProd()) ".min" else ""
    }
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @*CSS*@
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main" + minified + ".css")">
        @*Scripts*@
        <script type="text/javascript" src="@routes.Application.jsMessages()"></script>
        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
    </head>
    <body>
        @content
    </body>
</html>
