@(title: String)(content: Html)
    @minified = @{
        if(play.Play.isProd) ".min" else ""
    }
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:ng="http://angularjs.org" xmlns:app="ignored"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>@title</title>
        @*CSS*@
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main" + minified + ".css")">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body ng-cloak class="ng-cloak">
        <ng:include src="'view/menu'"></ng:include>
        <div class="container">
            @content
        </div>
        @*Scripts*@
        <script type="text/javascript" src="@routes.Application.jsMessages()"></script>
        <script type="text/javascript">
        function debounce(fn, delay) {
        var timer = null;
        return function () {
        var context = this, args = arguments;
        clearTimeout(timer);
        timer = setTimeout(function () {
        fn.apply(context, args);
        }, delay);
        };
        }
        </script>
        @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
    </body>
</html>
